{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="{% static 'instructor/img/favicon.png' %}" rel="icon">
    <link href="{% static 'instructor/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="{% static 'instructor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'instructor/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    
    <!-- Template Main CSS File -->
    <link href="{% static 'instructor/css/style.css' %}" rel="stylesheet">
    <style>
        


        .cards-questions .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s;
          }
          .cards-questions .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
          .cards-questions .card-title {
            color: #333;
          }
          .cards-questions .card-text {
            color: #666;
          }
          .cards-questions .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
          }
          .cards-questions .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
          }
          /* Unique styling for each card */
          #mcq-card {
            background-color: #f8d7da; /* Light red */
          }
          #descriptive-card {
            background-color: #cce5ff; /* Light blue */
          }
          #imaginary-card {
            background-color: #d4edda; /* Light green */
          }
          .card-img-top {
            max-height: 200px;
            object-fit: cover;
          }
    </style>
</head>

<body>
    
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        
        <div class="d-flex align-items-center justify-content-between">
            <a href="admin-index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">AstraAccess</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'instructor/img/logo.png' %}" alt="">
                        <span class="d-none d-md-block dropdown-toggle ps-2">AstraAccess</span>
                    </a><!-- End Profile Iamge Icon -->
                    
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a href="{% url 'ins_logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                        
                        
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
                
            </ul>
        </nav><!-- End Icons Navigation -->
        
    </header><!-- End Header -->
    
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        
        <ul class="sidebar-nav" id="sidebar-nav">
            
            <li class="nav-item">
                <a class="nav-link " href="{% url 'ins_dashboard' %}">
                    <i class="bi bi-grid" style="color:#31518B"></i>
                    <span style="color:#31518B">Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            
            <li class="nav-item active">
                <a class="nav-link collapsed " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="material-icons">library_books</i><span>Courses Management</span></i></i>
                </a>
                <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'add_courses' %}">
                            <i class="bi bi-circle"></i><span>Add Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_courses' %}">
                            <i class="bi bi-circle"></i><span>View Courses</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End parking Management Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
                    <i class="material-icons">help</i><span>Questions Management</span>
                </a>
                <ul id="forms-nav2" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'add_question' %}"  class="active">
                            <i class="bi bi-circle" ></i><span>Add Questions</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'all_questions' %}">
                            <i class="bi bi-circle"></i><span>All Questions</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav10" data-bs-toggle="collapse" href="#">
                  <i class="material-icons">library_books</i><span>Test Management</span>
                </a>
                <ul id="forms-nav10" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="{% url 'ins_test_result' %}"  >
                      <i class="bi bi-circle" ></i><span>Test Results</span>
                    </a>
                  </li>
                  
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="material-icons">group</i><span>Course Enrollment Management</span></i></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'view_students' %}">
                            <i class="bi bi-circle"></i><span>View Students</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="">
                            <i class="bi bi-circle"></i><span>All Students</span>
                        </a>
                    </li> -->
                </ul>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav4" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-chat-dots"></i><span>Feedback Management</span></i></i>
                </a>
                <ul id="forms-nav4" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'view_student_feedbacks' %}">
                            <i class="bi bi-circle"></i><span>View Feedbacks</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ins_feedbacks_graph' %}">
                            <i class="bi bi-circle"></i><span>Feedback Graph</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Feedback Nav -->
        </aside><!-- End Sidebar-->
        
        <main id="main" class="main">
            
            <div class="pagetitle">
                <h1>Add Questions</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item active">Add Questions</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            
           
            
            
            
            <div class="cards-questions container mt-5">
                <div class="row">
                  <div id="mcq-card" class="col-md-4">
                    <div class="card h-100">
                      <img src="{% static 'instructor/img/mcq.jpg' %}" class="card-img-top" alt="MCQs Image">
                      <div class="card-body">
                        <h5 class="card-title">Add MCQs Questions</h5>
                        <p class="card-text">Click here to add multiple-choice questions for your course.</p>
                        <a href="{% url 'mcqs' %}" class="btn btn-primary btn-block">Add MCQs Questions</a>
                      </div>
                    </div>
                  </div>
                  <div id="descriptive-card" class="col-md-4">
                    <div class="card h-100">
                      <img src="{% static 'instructor/img/des.jpg' %}" class="card-img-top" alt="Descriptive Image">
                      <div class="card-body">
                        <h5 class="card-title">Add Descriptive Questions</h5>
                        <p class="card-text">Click here to add descriptive questions for your course.</p>
                        <a href="{% url 'descriptive_questions' %}" class="btn btn-primary btn-block">Add Descriptive Questions</a>
                      </div>
                    </div>
                  </div>
                  <div id="imaginary-card" class="col-md-4">
                    <div class="card h-100">
                      <img src="{% static 'instructor/img/imgquestion.jpg' %}" class="card-img-top" alt="Imaginary Image">
                      <div class="card-body">
                        <h5 class="card-title">Add Imaginary Questions</h5>
                        <p class="card-text">Click here to add imaginary questions for your course.</p>
                        <a href="{% url 'imageQuestion' %}" class="btn btn-primary btn-block">Add Imaginary Questions</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
            
            
            
            
        </main><!-- End #main -->
        
        <script>
            $(document).ready(function() {
                $('#availableDays').select2();
            });
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% if messages %}              
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>swal({
            title: "Warning!",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
        });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
        title: "Info :)",
        text: "{{message}}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
    title: "Error :)",
    text: "{{message}}",
    icon: "error",
    button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
    title: "Success :)",
    text: "{{message}}",
    icon: "success",
    button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>AstraAccess</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://vnrvjiet.ac.in/
        " target="_blank">AstraAccess</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'instructor/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'instructor/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'instructor/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'instructor/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'instructor/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'instructor/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'instructor/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'instructor/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'instructor/js/main.js' %}"></script>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>
    swal({
        title: "Warning!",
        text: "{{ message }}",
        icon: "warning",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>
    swal({
        title: "Info :)",
        text: "{{ message }}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
    swal({
        title: "Error :)",
        text: "{{ message }}",
        icon: "error",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    swal({
        title: "Success :)",
        text: "{{ message }}",
        icon: "success",
        button: "OK",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

</html>