{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'admin/img/favicon.png' %}" rel="icon">
  <link href="{% static 'admin/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'admin/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  
  
  <!-- Template Main CSS File -->
  <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
  
  <style>
    
    
    
  </style>
</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="d-flex align-items-center justify-content-between">
      <a href="admin-index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'admin/img/logo.png' %}" alt="">
            
            <span class="d-none d-md-block dropdown-toggle ps-2">admin</span>
          </a><!-- End Profile Iamge Icon -->
          
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'admin_login' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
        
      </ul>
    </nav><!-- End Icons Navigation -->
    
  </header><!-- End Header -->
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-item">
        <a class="nav-link " href="{% url 'admin_dashboard' %}">
          <i class="bi bi-grid" style="color:#31518B"></i>
          <span style="color:#31518B">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Instructors Management</span></i></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pending_ins' %}" class="active">
              <i class="bi bi-circle"></i><span>Pending Instructors</span>
            </a>
          </li>
          <li>
            <a href="{% url 'all_ins' %}">
              <i class="bi bi-circle"></i><span>All Instructors</span>
            </a>
          </li>
        </ul>
      </li><!-- End parking Management Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-plus"></i><span>Students Management</span></i></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'all_students' %}">
              <i class="bi bi-circle"></i><span>View Students</span>
            </a>
          </li>
          
        </ul>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav4" data-bs-toggle="collapse" href="#">
          <i class="bi bi-chat-dots"></i><span>Feedback Management</span></i></i>
        </a>
        <ul id="forms-nav4" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'view_feedbacks' %}">
              <i class="bi bi-circle"></i><span>View Feedbacks</span>
            </a>
          </li>
          <li>
            <a href="{% url 'feedbacks_graph' %}">
              <i class="bi bi-circle"></i><span>Feedback Graph</span>
            </a>
          </li>
        </ul>
      </li><!-- End Feedback Nav -->
    </ul>
  </aside><!-- End Sidebar-->
  
  <main id="main" class="main">
    
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Pending Instructors</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section overflow-auto">
      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title">Pending Instructors</h5>
          <!-- Dark Table -->
          {% if page_obj %}
          <table class="table table-hover table-striped">
            <thead class="">
              <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for instructor in page_obj %}
              <tr class="text-center">
                <td>{{ instructor.full_name }}</td>
                <td>{{ instructor.email }}</td>
                <td>{{ instructor.phone_number }}</td>
                <td>{{ instructor.address }}</td>
                <td>{{ instructor.status }}</td>
                <td>
                  <button class="btn btn-sm btn-success" type="button">
                    <a href="{% url 'accept_instructor' instructor.instructor_id %}" class="text-white">Accept</a>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% else %}
          <div class="alert alert-info m-5 p-5 mx-auto col-7 text-center shadow border-2">
            <h5>No pending Instructors</h5>
          </div>
          {% endif %}
          
          <!-- End Dark Table -->
          
        </div>
      </div>
    </section>
    
  </main><!-- End #main -->
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}              
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
    title: "Warning!",
    text: "{{message}}",
    icon: "warning",
    button: "OK",
  });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
  title: "Info :)",
  text: "{{message}}",
  icon: "info",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
  title: "Error :)",
  text: "{{message}}",
  icon: "error",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
  title: "Success :)",
  text: "{{message}}",
  icon: "success",
  button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
      &copy; Copyright <strong><span>AstraAccess</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
      Designed by <a href="https://vnrvjiet.ac.in/
      " target="_blank">AstraAccess</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'admin/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'admin/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'admin/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'admin/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'admin/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'admin/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'admin/js/main.js' %}"></script>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>
  swal({
    title: "Warning!",
    text: "{{ message }}",
    icon: "warning",
    button: "OK",
  });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>
  swal({
    title: "Info :)",
    text: "{{ message }}",
    icon: "info",
    button: "OK",
  });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
  swal({
    title: "Error :)",
    text: "{{ message }}",
    icon: "error",
    button: "OK",
  });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
  swal({
    title: "Success :)",
    text: "{{ message }}",
    icon: "success",
    button: "OK",
  });
</script>
{% endif %}
{% endfor %}
{% endif %}

</html> 